<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    {% block header-css %}
    
        {% include 'storemanagerapp/inc/header-css.html' %}
    
    {% endblock header-css %}
    

</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
    {% block main-navbar %}
    
        {% include 'storemanagerapp/inc/main_navbar.html' %}
    
    {% endblock main-navbar %}

    {% block side-navbar %}
    
        {% include 'storemanagerapp/inc/side_navbar.html' %}

    {% endblock side-navbar %}
    {% block content %}
    
    {% endblock content %}
    </div>

    {% block main-scripts %}
      {% include 'storemanagerapp/inc/scripts.html' %}
    {% endblock main-scripts %}
    

{% block scripts %}

{% endblock scripts %}

  <script>
      $(function() {
          console.log(location.pathname);
        $('nav a').removeClass('active');
        $('nav a[href^="' +location.pathname + '"]').addClass('active');
      });
  </script>
</body>
</html>