{% extends 'storemanagerapp/index.html' %}

{% load static %}

{% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Add new Menu</h1>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">
            <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Add New Menu</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
              <form role="form" action="{% url 'store_manager_food_add_new_menu' %}" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
                <div class="card-body">
                    <div class="form-group">
                        <label for="menuName1">Menu Name</label>
                        <input type="text" name="menu_name" class="form-control" id="menuName1" placeholder="eg. Spicy Burger" REQUIRED>
                    </div>

                    <div class="form-group">
                        <label>Add Items</label>
                        <div class="select2-purple">
                            <select class="select2" name="food_items" id="add_food_items_select2" value="" multiple="multiple" data-placeholder="Select Variations" data-dropdown-css-class="select2-purple" style="width: 100%;">
                            {% if food_variations %}
                            {% for food_variation in food_variations %}
                                <option>{{ food_variation.name }}</option>
                            {% endfor %}
                            {% endif %}

                            <option>Menu 2</option>
                                <option>Menu 3</option>
                                <option>Menu 4</option>
                                <option>Menu 5</option>
                                <option>Menu 6</option>
                                <option>Menu 7</option>
                        </select>
                        </div>
                    </div>


                    {% comment %} <div class="form-group">
                        <label>Add Items</label>
                        <select class="form-control select2" id="add_food_items_select2" name="food_items" style="width: 100%;">
                            {% for food_item in food_items %}
                              <option>{{ food_item.name }}</option>
                              
                            {% endfor %}
                            <option selected="selected">Menu 1</option>
                            <option>Menu 2</option>
                            <option>Menu 3</option>
                            <option>Menu 4</option>
                            <option>Menu 5</option>
                            <option>Menu 6</option>
                            <option>Menu 7</option>
                        </select>
                    </div> {% endcomment %}

                    <div class="form-group">
                        <label>Add Items</label>
                        <select multiple name="food_items" class="form-control">
                        {% for food_item in food_items %}
                          <option>{{ food_item.name }}</option>
                          
                        {% endfor %}
                        <option>1</option>
                          <option>2</option>
                        </select>
                    </div>
                </div>
                <!-- /.card-body -->

                <div class="card-footer">
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>



{% endblock content %}

{% block scripts %}

<script>
    $("#add_food_items_select2").on("select2:select select2:unselect", function(e) { //this returns all the selected item 
        var items = $(this).val(); //Gets the last selected item
        $(this).val(items)
        console.log(items);
    });
</script>

{% endblock scripts %}