{% extends 'storemanagerapp/index.html' %} {% load static %} {% block content %}

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>General Settings</h1>
                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">General Settings</h3>
                        </div>
                        <!-- /.card-header -->
                        <!-- form start -->
                        <form role="form" action="{% url 'settings_general' %}" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="full_name">Full Name</label>
                                    <input type="text" class="form-control" name="full_name" value="{{ store_manager_detail.name }}" placeholder="eg. Mc Donald">

                                    
                                </div>

                                <div class="form-group">
                                    <label for="description">Description</label>
                                    <input type="text" class="form-control" value="{{ store_manager_detail.description }}" name="description">
                                </div>

                                
                                <div class="form-group">
                                    <label for="exampleInputFile">Cover Image</label>
                                    {% if store_manager_detail.cover_image.url %}
                                        <img src="{{ store_manager_detail.cover_image.url }}"  style="height: 240px; display: block;" alt="">
                                    {% endif %}
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="cover_image" id="exampleInputFile1">
                                            <label class="custom-file-label" for="exampleInputFile1">Choose file</label>
                                        </div>
                                    </div>
                                </div>

                                {% comment %} <div class="form-group">
                                    <label for="exampleInputFile">File input</label>
                                    <div class="input-group">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="exampleInputFile">
                                        <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                    </div>
                                    <div class="input-group-append">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                    </div>
                                </div> {% endcomment %}

                                
                                <div class="form-group">
                                    <label for="exampleInputFile">Favicon Icon</label>
                                    {% if store_manager_detail.favicon.url %}
                                        <img src="{{ store_manager_detail.favicon.url }}" style="height: 240px; display: block;" alt="">
                                    {% endif %}
                                    
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" name="favicon_icon" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" value="{{ store_manager_detail.location.name }}" name="address">
                                </div>

                                <div class="d-flex row">
                                    <div class="form-group flex-fill">
                                        <label for="latitude">Latitude</label>
                                        <input type="number" step="0.000001" class="form-control" value="{{ store_manager_detail.location.latitude }}" name="latitude">
                                    </div>
                                    <div class="form-group flex-fill">
                                        <label for="longitude">Longitude</label>
                                        <input type="number" step="0.000001" class="form-control" value="{{ store_manager_detail.location.longitude }}" name="longitude">
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->

                            <div class="card-footer">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
        <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>



{% endblock content %} 


{% comment %} EXTRA SCRIPTS {% endcomment %}
{% block scripts %}

<script>
    $(".custom-file-input").change(function(){
        readURL(this);
    });
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                {% comment %} console.log(e.target.result); {% endcomment %}
                $(input).closest('.form-group').find('img').attr("src", e.target.result); 
            }

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

{% endblock scripts %}